.estado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Asegura que la imagen cubra el div */
    display: none; /* Ocultar todos los estados inicialmente */
}
.estado {
    display: block; /* Mostrar solo el estado 0 */
}

/************************       nucleo 3           ***************************/

.gif-grafico{
    margin-left: 900px;
    margin-top: 365px;

    width: 440px;

}




/************************       nucleo 4            ***************************/
.estado50{
    display: flex;
    flex-direction: column;
}
.estado51{
    display: flex;
    flex-direction: column;
}
ul{
    display: flex;
    flex-direction: row;
}

li{
    margin-top: -100px;
}

#hombre img{

    width: 500px;

    margin-left: 60px;
    margin-top: -1300px;
}

.teles{
    width: 600px;
    height: 610px;

    margin-left: 780px;
    margin-top: -1060px;
    padding-top: -300px;


}

.cod img{
    width: 1533px;
    height: 164px;

    margin-top: 694px;
}

.estado51{
    background-color: cadetblue;
}


