.estado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Asegura que la imagen cubra el div */
    display: none; /* Ocultar todos los estados inicialmente */
}
.estado {
    display: block; /* Mostrar solo el estado 0 */
}

/************************       nucleo 3           ***************************/

/**.estado17,
.estado30 {
    background-color: rgb(250, 250, 250);
}
*/

